@model LibraryManagementSystemProject.Models.Entity.TBLHAREKET
@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Hareket ID</label>
        @Html.TextBoxFor(o => o.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Kitap Adı</label>
        @Html.TextBoxFor(o => o.TBLKITAP.AD, new { @class = "form-control" })
        <br />
        <label>Üye</label>
        @Html.TextBoxFor(o => o.TBLUYELER.AD, new { @class = "form-control" })
        <br />
        <label>Personel</label>
        @Html.TextBoxFor(o => o.TBLPERSONEL.PERSONEL, new { @class = "form-control" })
        <br />
        <label>Alış Tarihi</label>
        @Html.TextBoxFor(o => o.ALISTARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>İade Tarihi</label>
        @Html.TextBoxFor(o => o.IADETARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Üyenin Getirdiği İade Tarihi</label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Geç Gelen Gün Sayısı</label>
        <input type="text" class="form-control" id="Gecinput" value="@ViewBag.dgr" />
    
    </div>
    <div>
        <button class="btn btn-default" style="color:darkslategrey ; background-color: #c6ec97 ">İade Al</button>
    </div>
}
